@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import "null.css";
@import "mixins";

// container // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
//991.98 Планшеты, некоторые телефоны в горизонтальном положении
//767.98  Телефоны L
//479.98  Телефоны S *
$maxWidth: 1920;
$pc: 1160;
$pctablet: 991.98;
$tablet: 767.98;
$phone: 479.98;

//colors
$colorMain: #033E8C;
$colorBox: #6F87A6;
$colorMenu: #F28F16;
$colorText: #F2F2F2;
$colorLevel: #030A8C;

body {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 24px;
	background-color: $colorMain;
	color: $colorText;
}

.wrapper {
	display: flex;
	flex-direction: column;
		min-height: 100%;
	position: relative;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
	padding-bottom: 16px;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: $pc+px;
	padding: 0 15px;
}

[class*="-ibg"] {
	position: relative;
}

[class*="-ibg"] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header__logo {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 8px;

	@media (max-width: ($phone+px)) {
		padding: 16px 0;
	}
}

.header__title {
	@include adaptiveFonts('font-size', 36, 64, 320, $pc);
	font-weight: 700;

	& span {
		color: $colorMenu;
	}
}

.menu__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;


	@media (max-width: ($pc + px)) {
		gap: 8px;
		justify-content: stretch;
	}

	@media (max-width: ($tablet + px)) {
		font-size: 16px;
	}
}

.menu__item {
	padding: 3px 15px;
	background-color: $colorMenu;
	color: $colorText;
	box-shadow: 2px 4px #000;
	cursor: pointer;
}


.active {
	background-color: $colorText;
	color: $colorMenu;
}

.main__grid {
	padding-top: 24px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(270px, 1fr));
	grid-template-rows: 1fr 1.8fr 0.3fr;
	gap: 30px;

	@media (max-width: ($tablet + px)) {
		grid-template-columns: 1fr;
		grid-template-rows: 0.6fr repeat(2, 1fr) 0.2fr;
	}
}

.main__answer {
	min-height: 300px;
	//order: 2;

	@media (max-width: ($phone + px)) {
		// 	//order: 1;
		font-size: 17px;
	}
}

.main__options {
	//order: 1;

	@media (max-width: ($tablet + px)) {
		//order: 2;
	}
}

.main__question {
	grid-column: span 2;
	display: flex;
	gap: 24px;
	//order: 0;

	@media (max-width: ($tablet + px)) {
		grid-column: span 1;
		//order: 0;
	}
}

.question__image {
	flex: 0 0 25%;
	max-height: 400px;

	@media (max-width: ($tablet + px)) {
		display: none;
	}
}

.answer__image {
	flex: 0 0 45%;
	padding-bottom: 25%;
	margin-right: 4px;
}

.answer__block {
	display: flex;
	//gap: 8px;
}

.question__info,
.answer__info {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding-right: 16px;

	@media (max-width: ($phone + px)) {
		padding-right: 8px;
	}
}

.question__info {
	gap: 8px;
}

.answer__info {
	gap: 0px;
}

.question__name {
	position: relative;
	padding: 16px 0;
}

.answer__kind {
	position: relative;
}

.question__name:after,
.answer__kind:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background-color: $colorMenu;
	bottom: 0px;
	left: 0;
}

.grid-block {
	background-color: $colorBox;
	box-shadow: 2px 4px #000;
	padding: 8px;

}

.main__level {
	grid-column: span 2;
	//order: 3;

	@media (max-width: ($tablet + px)) {
		grid-column: span 1;
		//order: 3;
	}
}

.question__player,
.answer__player,
.gallery__player {
	height: 80px;
	width: 100%;
	background: transparent;
	font-size: 0.75em;
	display: grid;
	grid-template-rows: 6px auto;
}

.question__player {
	padding-top: 16px;
}

.answer__player {
	padding-top: 32px;
}

.timeline {
	background: $colorText;
	width: 100%;
	position: relative;
	cursor: pointer;
}

.progress {
	background: $colorMenu;
	width: 0%;
	height: 100%;
	transition: 0.25s;
}

.controls {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.controls>* {
	display: flex;
	justify-content: stretch;
	align-items: center;
}

.playpro {
	cursor: pointer;
	position: relative;
	left: 0;
	margin-right: 16px;
	background-image: url('../assets/1.svg');
}

.playpro :hover {
	transform: scale(1.1);
}

.pause {
	margin-right: 16px;
	background-image: url('../assets/4.svg');
	cursor: pointer;
	position: relative;
}

.pause :hover {
	transform: scale(1.1);
}

.size {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-image: cover;
}

.time-play {
	flex: 1 1 auto;
	display: flex;
}

.time-play>* {
	padding: 2px;
}

.volume-container {
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.volume-container .volume-button {
	height: 45px;
}

.volume-slider {
	position: absolute;
	left: -140px;
	z-index: -1;
	width: 130px;
	height: 15px;
	background: $colorText;
	transition: 0.25s;

	@media (max-width: ($tablet + px)) {
		display: none;
	}
}

.volume-percentage {
	background: $colorMenu;
	height: 100%;
	width: 75%;
}

.source {
	background-image: url("../assets/2.svg");
	background-size: contain;
	background-position: 50% 50%;
	margin-left: 16px;

}

.source-no {
	background-image: url("../assets/3.svg");
	background-size: contain;
	background-position: 50% 50%;
	margin-left: 16px;
}

.answer__text {
	padding: 8px;
	min-height: 150px;
	font-size: 0.85em;
}

.size-small {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: cover;
}

.choice__input .main__level {
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice__input {
	position: relative;
}

.choice__win::after {
	position: absolute;
	content: "";
	background-color: $colorMenu;
	width: 17px;
	height: 17px;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.choice__nowin::after {
	position: absolute;
	content: "";
	background-color: red;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.choice__nocolor::after {
	position: absolute;
	content: "";
	background-color: $colorText;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.next__level {
	background-color: $colorText;
	color: $colorBox;
	cursor: pointer;
}

.main__level {
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice__items {
	padding: 8px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.choice__item {
	height: calc(100% / 6);
}

.choice__input {
	margin-right: 16px;
}

@import "home.scss";

.unvisible {
	display: none;
}

.main__gallery {
	display: flex;
	padding-top: 24px;
}


.gallery__content {
	padding: 16px;
}

.gallery__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

}

.gallery__image {
	min-width: 35%;
	padding-bottom: 35%;

	@media (max-width:($pctablet+px)) {
		min-width: 45%;
		padding-bottom: 45%;
	}

	@media (max-width:($phone+px)) {
		min-width: 70%;
		padding-bottom: 70%;
	}
}

.gallery__next,
.gallery__prev {
	cursor: pointer;
}

.gallery__img {
	object-fit: contain;
}

.gallery__info {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.gallery__text {
	@media (max-width:($phone+px)) {
		font-size: 16px;
	}
}



.gallery__player {
	padding-top: 24px;
}

.video-win {
	margin: 0 auto;
	width: 50%;
}

.main__text {
	text-align: center;
	font-size: 36px;
}